@media (max-width: 1279px) {

}

@media (max-width: 769px) {
    .panel {
        height: auto;
        min-height: 536px;
        overflow: visible;
    }
    
    .panel table {
        display: block;
        height: auto;
        width: 100%;
    }
    
    .panel tbody {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
    
    .panel tr {
        display: contents;
    }
    
    .panel td {
        width: 100%;
        box-sizing: border-box;
    }
    
    .about {
        top: 1036px;
    }
    
    .left-panel {
        top: 1036px;
    }
    
    .right-panel {
        top: 1036px;
    }
}

@media (max-width: 767px) {

}

@media (max-width: 319px) {

}