@media (max-width: 769px) {
    .panel {
        min-height: 268px;
        height: auto !important;
        overflow: visible !important;
    }
    
    .panel table {
        display: block;
        height: auto;
        width: 100%;
        overflow: visible;
    }
    
    .panel tbody {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
    
    .panel tr {
        display: contents;
    }
    
    .panel td {
        width: 100%;
        box-sizing: border-box;
    }

    .thorns1, .thorns2, .thorns3, .thorns4, .thorns5, .thorns6 {
        filter: blur(3px);
    }
    
    .about {
        top: calc(100vw * 480 / 1280 + 50px + 268px);
        left: 100px;
        right: 100px;
    }
    
    .left-panel {
        top: calc(100vw * 480 / 1280 + 50px + 268px);
        width: 120px;
        height: 1114px;
        overflow: hidden;
    }
    
    .right-panel {
        top: calc(100vw * 480 / 1280 + 50px + 268px);
        width: 120px;
        height: 1114px;
        overflow: hidden;
    }
    
    .wheel {
        left: 120px;
        right: 120px;
        top: calc(100vw * 480 / 1280 + 691px);
        height: 741px;
    }
    
    .balance-wheel-block {
        left: 120px;
        right: 120px;
        height: 741px;
    }
    
    .balance-wheel {
        animation: rotate-wheel-scale-85 10s linear infinite;
    }
    
    .people {
        transform: scale(0.85);
        transform-origin: center;
    }
    
    .circles {
        transform: scale(0.85);
        transform-origin: center;
    }
    
    .white-people {
        transform-origin: center;
        bottom: -77px;
        bottom: 0px;
        z-index: 2;
    }
    
    @keyframes rotate-wheel-scale-85 {
        from {
            transform: scale(0.85) rotate(0deg);
        }
        to {
            transform: scale(0.85) rotate(360deg);
        }
    }
    
    .about p {
        left: 32px;
        right: 20px;
    }

    .get-it {
        top: calc(100vw * 480 / 1280 + 1432px);
    }

    .get-it .get-it-arrows {
        display: none;
    }

    .hands {
        top: calc(100vw * 480 / 1280 + 1592px);
    }

    .footer {
        top: calc(100vw * 480 / 1280 + 2062px);
    }

    .first-cube,
    .third-cube,
    .fifth-cube {
        width: 62px; 
        height: 57px; 
        left: calc(50% - 62px / 2);
    }

    .second-cube,
    .fourth-cube {
        width: 62px; 
        height: 64px; 
        left: calc(50% - 62px / 2);
    }

    .first-cube {
        top: 46px; 
    }

    .second-cube {
        top: 275px; 
    }

    .third-cube {
        top: 521px; 
    }

    .fourth-cube {
        top: 759px; 
    }

    .fifth-cube {
        top: 1005px; 
    }

    .freedom {
        width: 82.5px; 
        padding: 4px 13px; 
        border-width: 0.8px; 
    }

    .freedom h1 {
        width: 57px; 
        height: 21.75px; 
        font-size: 18px; 
        line-height: 21.75px; 
    }

    .memory {
        width: 75px; 
        height: 30px; 
        padding: 4px 12px; 
        left: calc(50% - 75px/2 - 2px); 
        border-width: 0.8px; 
    }

    .memory h1 {
        width: 57px; 
        height: 21.75px; 
        font-size: 18px; 
        line-height: 21.75px; 
    }

    .lifetime {
        width: 112.5px; 
        height: 30px; 
        padding: 3px 9.75px; 
        left: calc(50% - 112.5px/2 + 8.25px); 
        border-width: 0.8px; 
    }

    .lifetime h1 {
        width: 79.5px; 
        height: 21.75px; 
        font-size: 18px; 
        line-height: 21.75px; 
    }

    .first-long-branch,
    .second-long-branch {
        width: 45px;
        left: calc(50% - 45px / 2);
    }
    
    .left-main-hand, 
    .right-main-hand {
        visibility: hidden;
    }
}

@media (max-width: 480px) {
    .thorns1, .thorns2, .thorns3, .thorns4, .thorns5, .thorns6 {
        filter: blur(2px);
    }

    .about {
        left: 80px;
        right: 80px;
    }
    
    .left-panel {
        width: 80px;
        height: 1114px;
        overflow: hidden;
    }
    
    .right-panel {
        width: 80px;
        height: 1114px;
        overflow: hidden;
    }
    
    .wheel {
        left: 80px;
        right: 80px;
    }
    
    .balance-wheel-block {
        left: 80px;
        right: 80px;
    }
    
    .balance-wheel {
        animation: rotate-wheel-scale-70 10s linear infinite;
    }
    
    .people {
        transform: scale(0.7);
        transform-origin: center;
    }
    
    .circles {
        transform: scale(0.7);
        transform-origin: center;
    }
    
    .white-people {
        transform-origin: center;
        width: 100%;
    }
    
    @keyframes rotate-wheel-scale-70 {
        from {
            transform: scale(0.7) rotate(0deg);
        }
        to {
            transform: scale(0.7) rotate(360deg);
        }
    }
    
    .about p {
        left: 20px;
        right: 20px;
    }

    .first-cube,
    .third-cube,
    .fifth-cube {
        width: 41px; 
        height: 38px; 
        left: calc(50% - 41px / 2);
    }

    .second-cube,
    .fourth-cube {
        width: 41px; 
        height: 43px; 
        left: calc(50% - 41px / 2);
    }

    .first-cube {
        top: 46px; 
    }

    .second-cube {
        top: 275px; 
    }

    .third-cube {
        top: 521px; 
    }

    .fourth-cube {
        top: 759px; 
    }

    .fifth-cube {
        top: 1005px; 
    }

    .freedom {
        width: 55px; 
        padding: 2.5px 8.5px; 
        border-width: 0.5px; 
    }

    .freedom h1 {
        width: 38px; 
        height: 14.5px; 
        font-size: 12px; 
        line-height: 14.5px; 
    }

    .memory {
        width: 50px; 
        height: 20px; 
        padding: 2.5px 8px; 
        left: calc(50% - 50px/2 - 2px); 
        border-width: 0.5px; 
    }

    .memory h1 {
        width: 38px; 
        height: 14.5px; 
        font-size: 12px; 
        line-height: 14.5px; 
    }

    .lifetime {
        width: 75px; 
        height: 20px; 
        padding: 2px 6.5px; 
        left: calc(50% - 75px/2 + 5px); 
        border-width: 0.5px; 
    }

    .lifetime h1 {
        width: 53px; 
        height: 14.5px; 
        font-size: 12px; 
        line-height: 14.5px; 
    }

    .first-long-branch,
    .second-long-branch {
        width: 38px;
        left: calc(50% - 38px / 2);
    }

    .left-top-hand {
        visibility: hidden;
    }
    
    .left-bottom-hand {
        visibility: hidden;
    }
    
    .right-bottom-hand {
        visibility: hidden;
    }
    
    .right-top-hand {
        visibility: hidden;
    }

}

@media (max-width: 360px) {
    .thorns1, .thorns2, .thorns3, .thorns4, .thorns5, .thorns6 {
        filter: blur(1px);
    }

    .about {
        left: 64px;
        right: 64px;
    }
    
    .left-panel {
        width: 64px;
        height: 1114px;
        overflow: hidden;
    }
    
    .right-panel {
        width: 64px;
        height: 1114px;
        overflow: hidden;
    }
    
    .wheel {
        left: 64px;
        right: 64px;
    }
    
    .balance-wheel-block {
        left: 64px;
        right: 64px;
    }
    
    .balance-wheel {
        animation: rotate-wheel-scale-60 10s linear infinite;
    }
    
    .people {
        transform: scale(0.6);
        transform-origin: center;
    }
    
    .circles {
        transform: scale(0.6);
        transform-origin: center;
    }
    
    .white-people {
        transform-origin: center;
    }
    
    @keyframes rotate-wheel-scale-60 {
        from {
            transform: scale(0.6) rotate(0deg);
        }
        to {
            transform: scale(0.6) rotate(360deg);
        }
    }
    
    .about p {
        left: 64px;
    }

    .first-cube,
    .third-cube,
    .fifth-cube {
        width: 33px; 
        height: 31px; 
        left: calc(50% - 33px / 2);
    }

    .second-cube,
    .fourth-cube {
        width: 33px; 
        height: 34px; 
        left: calc(50% - 33px / 2);
    }

    .first-cube {
        top: 46px; 
    }

    .second-cube {
        top: 275px; 
    }

    .third-cube {
        top: 521px; 
    }

    .fourth-cube {
        top: 759px; 
    }

    .fifth-cube {
        top: 1005px; 
    }

    .freedom {
        width: 44px; 
        padding: 2px 6.8px; 
        border-width: 0.5px; 
    }

    .freedom h1 {
        width: 30.4px; 
        height: 11.6px; 
        font-size: 9.6px; 
        line-height: 11.6px; 
    }

    .memory {
        width: 40px; 
        height: 16px; 
        padding: 2px 6.4px; 
        left: calc(50% - 40px/2 - 1px); 
        border-width: 0.5px; 
    }

    .memory h1 {
        width: 30.4px; 
        height: 11.6px; 
        font-size: 9.6px; 
        line-height: 11.6px; 
    }

    .lifetime {
        width: 60px; 
        height: 16px; 
        padding: 1.6px 5.2px; 
        left: calc(50% - 60px/2 + 4px); 
        border-width: 0.5px; 
    }

    .lifetime h1 {
        width: 42.4px; 
        height: 11.6px; 
        font-size: 9.6px; 
        line-height: 11.6px; 
    }

    .first-long-branch,
    .second-long-branch {
        width: 33px;
        left: calc(50% - 33px / 2);
    }
}

@media (max-width: 320px) {
    .about {
        left: 54px;
        right: 54px;
    }
    
    .left-panel {
        width: 54px;
        height: 1114px;
        overflow: hidden;
    }
    
    .right-panel {
        width: 54px;
        height: 1114px;
        overflow: hidden;
    }
    
    .wheel {
        left: 54px;
        right: 54px;
    }
    
    .balance-wheel-block {
        left: 54px;
        right: 54px;
    }
    
    .balance-wheel {
        animation: rotate-wheel-scale-50 10s linear infinite;
    }
    
    .people {
        transform: scale(0.5);
        transform-origin: center;
    }
    
    .circles {
        transform: scale(0.5);
        transform-origin: center;
    }
    
    .white-people {
        transform-origin: center;
        bottom: 0px;
    }
    
    @keyframes rotate-wheel-scale-50 {
        from {
            transform: scale(0.5) rotate(0deg);
        }
        to {
            transform: scale(0.5) rotate(360deg);
        }
    }
    
    .about p {
        left: 25px;
    }

    .freedom {
        width: 37px; 
        padding: 2px 6px; 
        border-width: 0.4px; 
    }

    .freedom h1 {
        width: 25.65px; 
        height: 10px; 
        font-size: 8px; 
        line-height: 10px; 
    }

    .memory {
        width: 34px; 
        height: 13.5px; 
        padding: 2px 5px; 
        left: calc(50% - 34px/2 - 1px); 
        border-width: 0.4px; 
    }

    .memory h1 {
        width: 25.65px; 
        height: 10px; 
        font-size: 8px; 
        line-height: 10px; 
    }

    .lifetime {
        width: 51px; 
        height: 13.5px; 
        padding: 1px 4px; 
        left: calc(50% - 51px/2 + 4px); 
        border-width: 0.4px; 
    }

    .lifetime h1 {
        width: 36px; 
        height: 10px; 
        font-size: 8px; 
        line-height: 10px; 
    }

    
    .first-long-branch,
    .second-long-branch {
        width: 30px;
        left: calc(50% - 30px / 2);
    }

    .first-cube,
    .third-cube,
    .fifth-cube {
        width: 28px; 
        height: 26px; 
        left: calc(50% - 28px / 2);
    }

    .second-cube,
    .fourth-cube {
        width: 28px; 
        height: 29px; 
        left: calc(50% - 28px / 2);
    }

    .first-cube {
        top: 46px; 
    }

    .second-cube {
        top: 275px; 
    }

    .third-cube {
        top: 521px; 
    }

    .fourth-cube {
        top: 759px; 
    }

    .fifth-cube {
        top: 1005px; 
    }
}