.main-title {
    position: absolute;
    aspect-ratio: 1280 / 480;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #FFFFFF;
    animation: background-invert 2s linear infinite;
}

.run-line {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100vw * 480 / 1280);
    height: 50px;
    background: #000;
    overflow: hidden;
    white-space: nowrap;
}

.track {
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    animation: run-text 10s linear infinite;
    will-change: transform;
}

.track:hover{
    animation-play-state: paused;
}

.cas-run-line {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    gap: 5vw;
    padding: 0 5vw;
}

.run-line span {
    font-family: 'Cormorant Garamond';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}

@keyframes run-text {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    row-gap: 0px;

    position: absolute;
    height: 134px;
    left: 0px;
    right: 0px;
    top: calc(100vw * 480 / 1280 + 50px);

    background: #000000;

    width: 100%;
    max-width: 100vw;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

.about {
    position: absolute;
    height: 373px;
    left: 160px;
    right: 160px;
    top: calc(100vw * 480 / 1280 + 184px);

    background: #000000;
}

.left-panel {
    position: absolute;
    width: 160px;
    height: 1200px;
    left: 0px;
    top: calc(100vw * 480 / 1280 + 184px);

    background: #000000;
    z-index: 5;
    overflow: hidden;
}

.right-panel {
    position: absolute;
    width: 160px;
    height: 1200px;
    right: 0px;
    top: calc(100vw * 480 / 1280 + 184px);

    background: #000000;
    z-index: 5;
    overflow: hidden;
}

.wheel {
    position: absolute;
    height: 827px;
    left: 160px;
    right: 160px;
    top: calc(100vw * 480 / 1280 + 557px);

    background: #000000;
    overflow: hidden;
}

.get-it {
    position: absolute;
    height: 160px;
    left: 0px;
    right: 0px;
    top: calc(100vw * 480 / 1280 + 1384px);
    background: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.hands {
    position: absolute;
    height: 470px;
    left: 0px;
    right: 0px;
    top: calc(100vw * 480 / 1280 + 1544px);

    background: #FFFFFF;
}

.footer {
    position: absolute;
    height: 80px;
    left: 0px;
    right: 0px;
    top: calc(100vw * 480 / 1280 + 2014px);
    display: flex;
    overflow: hidden;
}

.main-title h1 {
    position: absolute;
    width: calc(100vw * 1129 / 1280);
    height: calc(100vw * 189 / 1280);
    left: calc(50% - 100vw * 1129 / 2560 + 0.5px);

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: calc(100vw * 301.829 / 1280);
    line-height: calc(100vw * 366 / 1280);

    text-align: right;
    text-transform: uppercase;

    color: #000000;
    z-index: 2;
    animation: text-invert 2s linear infinite;
}

.watches {
    position: absolute;
    width: calc(100vw * 462.09 / 1280);
    height: calc(100vw * 273.6 / 1280);
    left: calc(50% - 100vw * 462.09 / 2560 + 0.21px);
    top: calc(100vw * 127 / 1280);
    z-index: 1;
    transform-origin: 50% 0;
    animation: pendulum-swing 2s ease-in-out infinite;
}

.thorns1 {
    position: absolute;
    width: calc(100vw * 60 / 1280);
    height: calc(100vw * 223 / 1280);
    left: calc(100vw * 235 / 1280);
    top: calc(100vw * 75 / 1280);
    filter: blur(4px);
}

.thorns2 {
    position: absolute;
    width: calc(100vw * 60 / 1280);
    height: calc(100vw * 223 / 1280);
    left: calc(100vw * 435 / 1280);
    top: calc(100vw * 75 / 1280);
    filter: blur(4px);
}

.thorns3 {
    position: absolute;
    width: calc(100vw * 60 / 1280);
    height: calc(100vw * 223 / 1280);
    left: calc(100vw * 615 / 1280);
    top: calc(100vw * 90 / 1280);
    transform: rotate(153deg);
    filter: blur(4px);
}

.thorns4 {
    position: absolute;
    width: calc(100vw * 60 / 1280);
    height: calc(100vw * 223 / 1280);
    left: calc(100vw * 843 / 1280);
    top: calc(100vw * 90 / 1280);
    transform: rotate(153deg);
    filter: blur(4px);
}

.thorns5 {
    position: absolute;
    width: calc(100vw * 60 / 1280);
    height: calc(100vw * 223 / 1280);
    left: calc(100vw * 1020 / 1280);
    top: calc(100vw * 75 / 1280);
    filter: blur(4px);
}

.thorns6 {
    position: absolute;
    width: calc(100vw * 60 / 1280);
    height: calc(100vw * 68 / 1280);
    left: calc(100vw * 1073/1280);
    top: calc(100vw * 25/1280);
    filter: blur(4px);
    transform: rotate(-116deg);
}

.about p {
    position: absolute;
    height: 160px;
    left: 120px;
    right: 120px;
    top: 60px;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}

.panel table {
    width: 100%;
    height: 100%;
    min-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: auto;
}

.panel th,
.panel td {
    padding: 12px 16px;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid #000;
    background-color: #FFFFFF;
}

.panel td.text-cell {
    color: #FFFFFF;
    background-color: #FFFFFF;
    animation: darken-cycle 3s linear infinite;
    animation-play-state: paused;
}

@keyframes darken-cycle {
    0% {
        background-color: rgb(255, 255, 255);
    }
    50% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

.panel td.text-cell:hover {
    animation-play-state: running;
}

.panel .td {
    width: 29px;
    height: 25px;
    background: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.first-cube {
    position: absolute;
    width: 82.1px;
    height: 76.46px;
    left: 38.95px;
    top: 50px;
}

.second-cube {
    position: absolute;
    width: 82.88px;
    height: 85.02px;
    left: 38.56px;
    top: 296.46px;
}

.third-cube {
    position: absolute;
    width: 82.1px;
    height: 76.46px;
    left: 38.95px;
    top: 561.48px;

    transform: rotate(180deg);
}

.fourth-cube {
    position: absolute;
    width: 82.88px;
    height: 85.02px;
    left: 38.56px;
    top: 817.93px;

    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.fifth-cube {
    position: absolute;
    width: 82.1px;
    height: 76.46px;
    left: 38.95px;
    top: 1082.95px;

    transform: matrix(1, 0, 0, -1, 0, 0);
}

.first-long-branch {
    position: absolute;
    width: 52px;
    left: calc(50% - 52px/2 - 0px);
    top: 3.08%;
    bottom: 52.92%;

    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.second-long-branch {
    position: absolute;
    width: 52px;
    left: calc(50% - 52px/2 - 0px);
    top: 52.92%;
    bottom: 3.08%;

    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.freedom {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 17px;
    gap: 10px;

    position: absolute;
    width: 110px;
    left: calc(50% - 110px/2);
    top: 0;

    background: #000000;
    border: 1.06855px solid #FFFFFF;
    transform: rotate(-40deg);
}

.freedom h1 {
    width: 76px;
    height: 29px;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.memory {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    gap: 10px;

    position: absolute;
    width: 100px;
    height: 40px;
    left: calc(50% - 100px/2 - 2.95px);
    top: 0;

    background: #000000;
    border: 1.06855px solid #FFFFFF;
    transform: rotate(10deg);
}

.memory h1 {
    width: 76px;
    height: 29px;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}

.lifetime {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    padding: 4px 13px;

    position: absolute;
    width: 150px;
    height: 40px;
    left: calc(50% - 150px/2 + 11px);
    top: 0;

    background: #000000;
    border: 1.06855px solid #FFFFFF;
    transform: rotate(-50deg);
}

.lifetime h1 {
    width: 106px;
    height: 29px;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    white-space: nowrap;
}

.balance-wheel-block {
    position: absolute;
    height: 827px;
    left: 160px;
    right: 160px;
    bottom: 0px;
}

.people {
    position: absolute;
    width: 328.32px;
    height: 373.05px;
    left: calc(50% - 328.32px/2 + 0.92px);
    top: calc(50% - 373.05px/2 + 46.93px);
    z-index: 3;
}

.balance-wheel {
    position: absolute;
    width: 417.83px;
    height: 417.83px;
    left: calc(50% - 417.83px/2 + 0.41px);
    top: calc(50% - 417.83px/2 + 67.41px);
    z-index: 2;
    transform-origin: center;
    animation: rotate-wheel 10s linear infinite;
}

.white-people {
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    bottom: -90px;
    z-index: 1;
}

.circles {
    position: absolute;
    width: 960px;
    height: 961.15px;
    left: calc(50% - 960px/2);
    top: -70px;
    z-index: 1;
}

.get-it-centre{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    white-space: pre-line;
}

.get-it-rows{
    box-sizing: border-box;

    width: 137px;
    height: 13px;

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 3;
}

.marquee-track {
    display: flex;
    width: max-content;
    align-items: center;
    animation: marquee-scroll 3s linear infinite;
    will-change: transform;
}

.marquee-track:hover {
    animation-play-state: paused;
}

.marquee-item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.get-it-arrows {
    height: auto;
    max-height: 100px;
    width: auto;
}

@keyframes marquee-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.logo {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19.6964px;
    gap: 7.39px;

    position: absolute;
    width: 200px;
    height: 231px;
    left: calc(50% - 200px/2);
    top: calc(50% - 231px/2 + 0.5px);

    background: #FFFFFF;
    border: 0.961737px solid #000000;
    z-index: 1;
}

.chains {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;

    background: transparent;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: 0;
}

.chains img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-top-hand {
    position: absolute;
    width: 238.8px;
    height: 112.49px;
    left: 0px;
    bottom: 257.51px;
    z-index: 2;
}

.left-bottom-hand {
    position: absolute;
    width: 257.1px;
    height: 257.1px;
    left: 0px;
    bottom: 0px;
    z-index: 2;
}

.left-main-hand {
    position: absolute;
    width: 91px ;
    height: 144px;
    right: calc(50% - 144px / 2 + 230px);
    bottom: 0px;
    z-index: 2;
}

.right-main-hand {
    position: absolute;
    width: 91px;
    height: 144px;
    left: calc(50% - 144px/2 + 270px);
    bottom: 0px;
    z-index: 2;
}

.right-bottom-hand {
    position: absolute;
    width: 256.94px;
    height: 257px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}

.right-top-hand {
    position: absolute;
    width: 238.8px;
    height: 112.49px;
    right: 0px;
    bottom: 257.51px;
    z-index: 2;
}

.hse-lable {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 46px;
    gap: 10px;

    width: 212px;
    height: 80px;
    flex-shrink: 0;

    background: #000000;
}

.footer-right {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 80px;
    background: white;
}


.author-run-line {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 80px;
    background: #FFFFFF;
}

.author-run-line h1 {
    margin: 0;
    padding: 0;
    line-height: 80px;
    white-space: nowrap;
    animation: run-text 7s linear infinite;
    color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: max-content;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.author-run-line h1:hover{
    animation-play-state: paused;
}

.author-run-line h1 span {
    display: inline-block;
    margin-right: 5em;
}

@keyframes fall-down {
    0% {
        transform: translateY(0) rotate(var(--initial-rotation, 0deg)) scale(0.8);
        opacity: 0;
        filter: blur(4px);
    }
    15% {
        transform: translateY(50px) rotate(var(--initial-rotation, 0deg)) scale(1);
        opacity: 1;
        filter: blur(0px);
    }
    85% {
        transform: translateY(1100px) rotate(var(--final-rotation, 0deg)) scale(1);
        opacity: 1;
        filter: blur(0px);
    }
    100% {
        transform: translateY(1200px) rotate(var(--final-rotation, 0deg)) scale(0.9);
        opacity: 0;
        filter: blur(3px);
    }
}

.freedom {
    --initial-rotation: -40deg;
    --final-rotation: -50deg;
    animation: fall-down 4s cubic-bezier(0.25, 0.1, 0.25, 1) 0s infinite;
    transition: filter 0.3s ease;
}

.memory {
    --initial-rotation: 10deg;
    --final-rotation: 25deg;
    animation: fall-down 4s cubic-bezier(0.25, 0.1, 0.25, 1) 1.3s infinite;
    transition: filter 0.3s ease;
}

.lifetime {
    --initial-rotation: -50deg;
    --final-rotation: -60deg;
    animation: fall-down 4s cubic-bezier(0.25, 0.1, 0.25, 1) 2.6s infinite;
    transition: filter 0.3s ease;
}

@keyframes cube-1 {
    0% {
        opacity: 0;
    }
    0.1% {
        opacity: 1;
    }
    83.3% {
        opacity: 1;
    }
    83.4% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cube-2 {
    0% {
        opacity: 0;
    }
    0.1% {
        opacity: 1;
    }
    66.6% {
        opacity: 1;
    }
    66.7% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cube-3 {
    0% {
        opacity: 0;
    }
    0.1% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.1% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cube-4 {
    0% {
        opacity: 0;
    }
    0.1% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
    }
    33.4% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cube-5 {
    0% {
        opacity: 0;
    }
    0.1% {
        opacity: 1;
    }
    16.6% {
        opacity: 1;
    }
    16.7% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.first-cube {
    opacity: 0;
    animation: cube-1 6s step-end 0s infinite;
}

.second-cube {
    opacity: 0;
    animation: cube-2 6s step-end 1s infinite;
}

.third-cube {
    opacity: 0;
    animation: cube-3 6s step-end 2s infinite;
}

.fourth-cube {
    opacity: 0;
    animation: cube-4 6s step-end 3s infinite;
}

.fifth-cube {
    opacity: 0;
    animation: cube-5 6s step-end 4s infinite;
}

@keyframes rotate-wheel {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pendulum-swing {
    0%, 100% {
        transform: rotate(-26deg);
    }
    50% {
        transform: rotate(26deg);
    }
}

@keyframes background-invert {
    0% {
        background: #FFFFFF;
    }
    49.99% {
        background: #FFFFFF;
    }
    50% {
        background: #000000;
    }
    99.99% {
        background: #000000;
    }
    100% {
        background: #FFFFFF;
    }
}

@keyframes text-invert {
    0% {
        color: #000000;
    }
    49.99% {
        color: #000000;
    }
    50% {
        color: #FFFFFF;
    }
    99.99% {
        color: #FFFFFF;
    }
    100% {
        color: #000000;
    }
}