.main-title {
    position: absolute;
    height: 450px;
    left: 0px;
    right: 0px;
    top: 0px;

    /* background: #505050; */
    background: #FFFFFF;
}

.run-line{
    position: absolute;
    height: 50px;
    left: 0px;
    right: 0px;
    top: 450px;

    background: #000000;
}

.panel {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    row-gap: 0px;

    position: absolute;
    height: 134px;
    left: 0px;
    right: 0px;
    top: 500px;

    background: #000000;

    width: 100%;
    max-width: 100vw;
    /* Ширина не больше ширины экрана */
    overflow-x: auto;
    /* Горизонтальная прокрутка на маленьких экранах */
    margin: 0;
    padding: 0;
}

.about{
    position: absolute;
    height: 500px;
    left: 160px;
    right: 160px;
    top: 634px;

    background: #000000;
}

.left-panel{
    position: absolute;
    width: 160px;
    height: 1200px;
    left: 0px;
    top: 634px;

    background: #000000;
}


.right-panel{
    position: absolute;
    width: 160px;
    height: 1200px;
    right: 0px;
    top: 634px;

    background: #000000;
}

.wheel{
    position: absolute;
    height: 700px;
    left: 160px;
    right: 160px;
    top: 1134px;

    background: #000000;
}

.get-it{
    position: absolute;
    height: 160px;
    left: 0px;
    right: -991px;
    top: 1834px;

    background: #FFFFFF;
}

.hands{
    position: absolute;
    height: 470px;
    left: 0px;
    right: 0px;
    top: 1994px;

    background: #FFFFFF;
}

.footer{
    position: absolute;
    height: 80px;
    left: 0px;
    right: -658px;
    top: 2464px;
}

.main-title h1{
    position: absolute;
    width: 1129px;
    height: 189px;
    left: calc(50% - 1129px/2 + 0.5px);
    top: 95px;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 301.829px;
    line-height: 366px;

    leading-trim: both;
    text-edge: cap;
    text-align: right;
    text-transform: uppercase;

    color: #000000;
}

.about p {
    position: absolute;
    height: 160px;
    left: 160px;
    right: 230px;
    top: 60px;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.panel table {
    width: 100%;
    height: 100%;
    min-width: 100%;
    table-layout: fixed;
    /* равномерное распределение столбцов */
    border-collapse: collapse;
    /* убираем двойные границы */
    overflow-y: auto;
}

/* Заголовки и ячейки */
.panel th,
.panel td {
    padding: 12px 16px;
    text-align: center;
    /* горизонтальное выравнивание */
    vertical-align: middle;
    /* вертикальное выравнивание */
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid #000;
    background-color: #FFFFFF;
}

.panel .td {
    width: 29px;
    height: 25px;
    background: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}